
*.o
*.test
*.pyc
*.deb
*.rpm
*.log
*.map
*.ped
*.vcf
*~
*anjuta*
*sonar*
*kdev*
*.cproject
*.project

.sconsign.dblite

bin/*
deb/hpg-variant/*
rpm/rpmbuild/*
hpg-variant-0.*

src/effect/hpg-var-effect
src/epistasis/hpg-var-epistasis
src/gwas/hpg-var-gwas
src/vcf-tools/hpg-var-vcf

/nbproject/private/

test/*.txt
test/*.bin
test/*.test
