# HPG VCF Tools configuration file
# One section per tool:
# - filter
# - stats
# - split
#
# More on their way...

global:
{
    outdir                  = "/tmp/vcf-tools/" ;
};

filter:
{
    num-threads             = 4 ;
    max-batches             = 10 ;
    batch-size              = 4000 ;
};

stats:
{
    max-batches             = 10 ;
    batch-size              = 2000 ;

    num-threads             = 2 ;
    variants-per-threads    = 1000 ;
};

split:
{
    max-batches             = 10 ;
    batch-size              = 1000 ;

    num-threads             = 1 ;
    variants-per-threads    = 1000 ;
};
